# This config file contains the environment variables for the application
# with different versions for dev and prod

# MediaWiki API variables
wikidata_url=https://test.wikidata.org
username=
password=

# Wikidata property values
instance_of=
title=
author=
publication_date=
copyright_license=
copyright_status=
doi=
isbn_13=
